/* -----------------------------------------------------------------------------

  COMPONENTS - RATING

----------------------------------------------------------------------------- */

.c-rating {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-rating__item {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url('../img/stars.svg');
  background-position: 0 0;
}

.c-rating.is-editable .c-rating__item {
  cursor: pointer;
}

.c-rating.is-editable .c-rating__item:hover,
.c-rating__item.is-active {
  background-position: -24px 0;
}

.c-rating__item.is-half {
  background-position: -48px 0;
}
